<div class="book-desc container mt-5 mb-5">
    <p id="author">{{author}}</p>
    <p id="title">{{title}}</p><br>
    <p id="description">{{description_book}}</p><br>
    <button class="button-redaction">Редактировать</button>
    <button class="button-delete">Удалить</button>
</div>