
<div class="book-list">
    <ul class="book-list">
        <li class="book-list__item ">{{author}}</li>
        <li class="book-list__item"><a class="book-title" href="#">{{title}}</a></li>
    </ul>
<hr>
</div>

