<div class="container mt-5 mb-5">
   <div> <button class="btn btn-primary" type="submit" id="add-book">Добавить книгу</button></div><br>
<div>
     <form>
          <div>
               <input type="search" class="form-control search-line" placeholder="Автор/название книги...">
          <div>
     </form>
</div>
</div>