<div class="navbar-wrapper">
    <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
                <div class="navbar-header">
                    <a class="navbar-brand library" href="#">Библиотека</a>
                </div>
                <div id="navbar" class="navbar-collapse collapse"></div>
        </nav>
    </div>

</div>
